server.host: "0.0.0.0"

elasticsearch.hosts:
  - "https://localhost:9200"

elasticsearch.username: "{{ elastic_user }}"
elasticsearch.password: "{{ elastic_password }}"
elasticsearch.ssl.verificationMode: none
